@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<section id="home" class="full-height px-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1 style="font-size: 4rem">Hello</h1>
                <h2 class="display-4 fw-bold" style="font-size: 2.5rem">I'm <span class="auto-type"></span></h2>
                <div class="pt-4">
                    <a href="#AboutMe" class="btn btn-brand me-3">Explore My achivement</a>
                </div>
               
            </div>
        </div>
    </div>
</section>
<!--About Me-->
<section id="AboutMe" class="full-height px-lg-5">
    <div class="container">
        <div class="row pd-4">
            <div class="col-lg-8">
                <h1 class="text-brand">About Me</h1>
            </div>
        </div>

        <div class="row gy-5">
            <div class="col-lg-6">
                <h4>Profile</h4>
                <div class="row gy-4">
                    <div class="col-12">
                        <div class="bg-base rounded shadow-effect">
                            <div class="col-lg-6 p-2">
                                <h4 class="text-brand" style="">Personal Information</h4>
                                <p>
                                    Fullname: Thanakrit Trakanjan <br />
                                    Nickname: Per <br />
                                    My brith: 11 December 2004 <br />
                                    <span>Age: 18 </span>
                                                                       
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <h4>Education</h4>
                <div class="row gy-4">
                    <div class="col-12">
                        <div class="bg-base rounded shadow-effect ps-2">
                            <div class="col-lg-6">
                                <h4 class="text-brand" style="">primary education</h4>
                                <p>Malewittaya School</p>
                            </div>
                        </div>
                        <div class="bg-base rounded shadow-effect ps-2">
                            <div class="col-lg-6">
                                <h4 class="text-brand">Junior and senior high school </h4>
                                <p>Sisaketwittayalai School</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------->
<section id="portfolio" class="full-height px-lg-5">
    <div class="container">     
        <div class="row pd-4">
            <div class="col-lg-8">
                <h1 class="text-brand">About Me</h1>
                <h6>This is all a proud achievement. </h6>
            </div>
        </div>

        <div class="row gy-4">
            <div class=" col-lg-6 col-md-6 col-sm-12">
                <div class="card-custom bg-base rounded shadow-effect">
                    <div class="card-custom-image rounded">
                        <img class=" rounded" src="~/images/codekathon.jpg" alt="image-project" />
                    </div>
                    <div class="card-custom-content p-4">
                        <h4 class="mt-4 mb-2">Gadget for a Parkison’s Disease Screening Household</h4>
                        <p>Python ML</p>
                        <a href="#" class="link-custom">Read more</a>
                    </div>  
                </div>
            </div>

            <div class=" col-lg-6 col-md-6 col-sm-12">
                <div class="card-custom bg-base rounded shadow-effect">
                    <div class="card-custom-image rounded">
                        <img class=" rounded" src="~/images/image (3).png" alt="image-project" />
                    </div>
                    <div class="card-custom-content p-4">
                        <h4 class="mt-4 mb-2">HamsterGame</h4>
                        <p>Unity C# Game</p>
                        <a href="#" class="link-custom">Read more</a>
                    </div>
                </div>
            </div>

            <div class=" col-lg-6 col-md-6 col-sm-12">
                <div class="card-custom bg-base rounded shadow-effect">
                    <div class="card-custom-image rounded">
                        <img class=" rounded" src="~/images/image_phy.png" alt="image-project" />
                    </div>
                    <div class="card-custom-content p-4">
                        <h4 class="mt-4 mb-2">I AM HAMSTER</h4>
                        <p>Unity C# Game</p>
                        <a href="#" class="link-custom">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-------------->

