@page
@model Pages.InfoAchievements.ReadmoreProject1Model
@{
    ViewData["Title"] = "Achievements";
}
<div class="container full-height-2 px-lg-5">
    <div class="row pd-5">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="text-brand text-center" stlye="font-size: 2rem">Gadget for a Parkison’s Disease Screening Household</h1>
           
        </div>
    </div>

    <div class="card-custom rounded shadow-effect-info p-2 mb-3" style="background-color: whitesmoke;">
        <h4>Genre: </h4><p>Machine Learning Python</p><br />
        <h4>Description </h4>
        <p>
            ผมได้เข้าร่วมอบรมและแข่งขันในโครงการยกระดับทักษะโค้ดดิ้งสู่การสร้างสรรค์โครงงานนวัฒกรรมอัจฉริยะ โดยผมได้รับความรู้ด้าน IOT  ได้ workshop 
            การใช้งานบอร์ดประมวล raspberry pi และได้ฝึกเขียนโค้ดเพื่อสั่งใช้งานระบบของอุปกรณ์ ซี่งผมกับทีมยังได้พัฒนานวัฒกรรมที่มีชื่อว่า ถุงมืออัจฉริยะสำหรับวินิจฉัยโรคพาร์กินสัน 
            โดยใช้ mechanic learning ในการพัฒนาระบบ ใช้ esp32 raspberry pi เป็นหน่วยประมวล และมีเซนเซอร์ Adxl345 เป็นตัววัดค่าความเร่ง
        </p><br />
        <h4>Used technology: </h4><p>SVM (Support Vector Machine) <br />Python (Programming language)</p>

    </div>

    <div class="row md-3">
        <div class=" col-lg-6 col-md-6 col-sm-12 mb-3">
            <div class="card-custom rounded shadow-effect-info">
                <div class="info-img rounded">
                    <img class=" rounded" src="~/images/codekathon.jpg" alt="image-project" />
                </div>
            </div>
        </div>
        <div class=" col-lg-6 col-md-6 col-sm-12 mb-3">
            <div class="card-custom  rounded shadow-effect-info">
                <div class="info-imge rounded">
                    <img class=" rounded" src="~/images/gadget.jpg" alt="image-project" />
                </div>
            </div>
        </div>
    </div>
    
    <!-- <iframe class="con-video" src="https://www.youtube.com/embed/RDUlhtxC06Q" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
    <div class="py-3">
        <h4>Credit: </h4><p>Oil Furk </p>
    </div>
</div>
