@page
@model Pages.ReadmoreProject1Model
@{
    ViewData["Title"] = "Achievements";
}
<div class="container full-height-2 px-lg-5">
    <div class="row pd-5">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="text-brand text-center" stlye="font-size: 2rem">Gadget for a Parkison’s Disease Screening Household</h1>
           
        </div>
    </div>

    <div class="card-custom rounded shadow-effect-info p-2 mb-3" style="background-color: whitesmoke;">
        <h4>Genre: </h4><p>Machine Learning Python</p><br />
        <h4>Description </h4>
        <p>
            ผมได้เข้าร่วมอบรมและแข่งขันในโครงการยกระดับทักษะโค้ดดิ้งสู่การสร้างสรรค์โครงงานนวัฒกรรมอัจฉริยะ โดยผมได้รับความรู้ด้าน IOT  ได้ workshop 
            การใช้งานบอร์ดประมวล raspberry pi และได้ฝึกเขียนโค้ดเพื่อสั่งใช้งานระบบของอุปกรณ์ ซี่งผมกับทีมยังได้พัฒนานวัฒกรรมที่มีชื่อว่า ถุงมืออัจฉริยะสำหรับวินิจฉัยโรคพาร์กินสัน 
            โดยใช้ mechanic learning ในการพัฒนาระบบ ใช้ esp32 raspberry pi เป็นหน่วยประมวล และมีเซนเซอร์ Adxl345 เป็นตัววัดค่าความเร่ง
        </p><br />
        <h4>Used technology: </h4><p>SVM (Support Vector Machine) <br />Python (Programming language)</p>

    </div>

    <div class="row md-3">
        <div class=" col-lg-6 col-md-6 col-sm-12 mb-3">
            <div class="card-custom rounded shadow-effect-info">
                <div class="info-img rounded">
                    <img class=" rounded" src="~/images/codekathon.jpg" alt="image-project" />
                </div>
            </div>
        </div>
        <div class=" col-lg-6 col-md-6 col-sm-12 mb-3">
            <div class="card-custom  rounded shadow-effect-info">
                <div class="info-imge rounded">
                    <img class=" rounded" src="~/images/gadget.jpg" alt="image-project" />
                </div>
            </div>
        </div>
    </div>
    
    <!-- <iframe class="con-video" src="https://www.youtube.com/embed/RDUlhtxC06Q" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
    <div class="py-3">
        <h4>Credit: </h4><p>Oil Furk </p>
    </div>

    <!--Comment-->
    <div class="container">
        <div class="row">
            <div class="row justify-content-center text-center mb-1">
                <h1 class="text-brand text-center" stlye="font-size: 1rem">Comment</h1>
            </div>
            <form method="post" class="col-lg g-lg-3 gy-3">
                <div class="form-group col-12 mb-2">
                    <input type="text" name="Name" class="form-control" placeholder="Your name (real name, alias, anything)" />
                 </div>
                <div class="form-group col-12">
                    <textarea type="text" name="Comment" rows="5" class="form-control" placeholder="Your opinion"></textarea>
                </div>
                <div class="form-group col-12 d-grid mt-3">
                    <button class="btn btn-light btn-brand" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="mt-4">
                <h4>All comments</h4>
            </div>
            
           
                @if (Model.Comments != null)
                {
                <div class="card-custom rounded shadow-effect-info p-2 mb-3" style="background-color: whitesmoke;">
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="d-flex mb-3">
                            <div class="font-weight-bold mb-1 me-2" style="color:#3e3939; font-size: 1.2rem;"><strong>@comment.Name </strong></div>

                            <div class="font-size-sm" style="color:#3e3939; font-size: 1.1rem;">
                                @comment.Comment
                            </div>
                        </div>
                    }
                </div>
                }
            
        </div>
    </div>
</div>
