@page
@model Pages.InfoAchievements.ReadmoreProject1Model
@{
    ViewData["Title"] = "Achievements";
}
<div class="container full-height-2">
    <div class="row pd-5">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="text-brand" stlye="font-size: 2rem">Gadget for a Parkison’s Disease Screening Household</h1>
            <h6>This is all a proud achievement. </h6>
        </div>
    </div>

    <div>
        <h4>Genre: </h4><p>Machine Learning Python</p><br />
        <h4>Description </h4>
        <p>
            IAM HAMSTER เป็นเกมส์ที่มีเรื่องของทฤษฎีของฟิสิกส์เข้ามาเกี่ยวข้องด้วย โดย จะมี puzzle ในแต่ละด่านจากง่ายไปยาก
            ซึ่งด่านง่ายจะเป็นทฤษฏีเบื้องต้น แล้วด่านยากจะนำทฤษฏีหลายๆอย่างมารวมกันในหนึ่งด่าน และโปรเจคนี้ถูกสร้างโดยการทำงานเป็นทีม โดยมีสมาชิก 4 คน
        </p><br />
        <h4>Used technology: </h4><p>SVM (Support Vector Machine) <br />Python (Programming language)</p>

    </div>
    <iframe class="con-video" src="https://www.youtube.com/embed/RDUlhtxC06Q" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div>
        <h4>Credit: </h4><p>Oil Furk </p>
    </div>
</div>
